/* ===== BODY ===== */
body{
    margin: 0;
    font-family: Arial, sans-serif;

    background: linear-gradient(
        -45deg,
        #0f2027,
        #203a43,
        #2c5364,
        #1a2980,
        #6a11cb,
        #2575fc
    );

    background-size: 400% 400%;

    animation: gradientMove 15s ease infinite;
}

@keyframes gradientMove{
    0%{
        background-position: 0% 50%;
    }
    25%{
        background-position: 50% 100%;
    }
    50%{
        background-position: 100% 50%;
    }
    75%{
        background-position: 50% 0%;
    }
    100%{
        background-position: 0% 50%;
    }
}


/* ===== NAVBAR ===== */
.navbar{
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(0,0,0,0.3);
    padding: 15px 40px;
}


/* remove bullets and make horizontal */
.nav-links{
    list-style: none;
    display: flex;
    gap: 25px;
    margin: 0;
    padding: 0;
}
.nav-right{
    display: flex;
    align-items: center;
    gap: 20px;
}

/* navbar links */
.nav-links a{
    color: white;
    text-decoration: none;
    font-size: 16px;
    transition: 0.3s;
}

/* hover effect */
.nav-links a:hover{
    color: royalblue;
}

/* ===== HERO SECTION ===== */
.hero{
    text-align: center;
    padding: 50px 20px;
}

/* profile image */
.profile-image{
    width: 200px;
    border-radius: 50%;
    border: 4px solid white;
    margin-bottom: 15px;
}

/* ===== COMMON SECTION STYLE ===== */
.section{
    background: rgba(255,255,255,0.5);
    margin: 20px auto;
    padding: 25px;
    width: 80%;
    border-radius: 10px;
}

/* ===== SKILLS CONTAINER ===== */
.skill-container{
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
    margin-top: 10px;
    gap: 10px;
}
.skill-heading{
    text-align: left;
}
.project-heading{
    text-align: left;
}

/* skill cards */
.skill-card{
    background: royalblue;
    margin-top: 50px;
    padding: 10px 20px;
    border-radius: 6px;
    transition: 0.3s;
}

/* skill hover */
.skill-card:hover{
    background: red;
    transform: scale(1.05);
}

/* ===== PROJECT CARDS ===== */
.project-card{
    background: rgba(0,0,0,0.4);
    margin: 15px;
    padding: 15px;
    border-radius: 10px;
    transition: 0.3s;
}

/* project hover */
.project-card:hover{
    transform: scale(1.03);
}

/* ===== BUTTON ===== */
button{
    background: royalblue;
    padding: 12px 25px;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

/* button hover */
button:hover{
    background: red;
}

/* ===== CONTACT TEXT ===== */
#contact-text{
    margin-top: 15px;
    font-size: 16px;
    color: #ccc;
}
.social-icons{
    display: flex;
    gap: 15px;

}
.social-icons a{
    color: white;
    font-size: 28px;
    margin: 0px 15px;
    transition: 0.3s;

}
.social-icons a:hover{
    color: aqua;
    transform: scale(1.2);
}
/*Mobile Responsive Design*/
@media (max-width:768px){

    .navbar{
        flex-direction: column;
        text-align: center;
        align-items: center;
        background: rgba(0,0,0,0.3);

    }
    .nav-right{
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }
    .nav-links{
        flex-direction: column;
        gap: 10px;
        padding: 0px;
    }
    .section{
        width: 95%;
        padding: 15px;
        flex-direction: column;
        background:rgba(0,0,0,0.3);

    }
    .skill-container{
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }
    .hero{
        padding: 30px 10px;
    }
    .profile-image{
        width: 120px;
    }
    .social-icons{
        justify-content: center;
    }
    
}
.logo{
    margin-right: 10px;
    color: white;
}


